<div class="col-12">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      <h5 class="card-title">Tested Products</h5>
      <table class="table table-borderless datatable">
        <thead>
          <tr>
            <th scope="col">Serial Number</th>
            <th scope="col">RPM Speed</th>
            <th scope="col">Vibration</th>
            <th scope="col">Voltage</th>
            <th scope="col">Ampere</th>
            <th scope="col">Efficiency</th>
            <th scope="col">Last Repaired Date</th>
            <th scope="col">Last Repaired Parts</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          {% for i in product %}
          <tr>
            <td>{{i.id_number}}</td>
            <td>{{i.outputp}}</td>
            <td>{{i.vibration}}</td>
            <td>{{i.voltage}}</td>
            <td>{{i.ampere}}</td>
            <td>{{i.efficiency}}</td>
            <td>{{i.repaired_at}}</td>
            <td>
              {% if i.armature == True %}
              Armature
              {% endif %}
              {% if i.brush == True %}
              Brush
              {% endif %}
              {% if i.stator == True %}
              Stator
              {% endif %}
              {% if i.frame == True %}
              Frame
              {% endif %}
            </td>
            <td>{{i.description}}</td>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div><!-- End Recent Sales -->