{% extends "./../index.html" %}
{% load widget_tweaks %}
{% block block %}
<div class="container">
  <section class="section register min-vh-100 flex-column align-items-center justify-content-center py-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Update New Item</h5>
            <!-- General Form Elements -->
            <form novalidate method="post" autocomplete="on" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row mb-3">
                <label for="{{updateform.id_number.id_for_label}}" class="col-sm-4 col-form-label">Serial Number</label>
                <div class="col-sm-8">
                  {% render_field updateform.id_number type="text" %}
                </div>
              </div>
              <div class="row mb-3">
                <label for="{{updateform.rpm.id_for_label}}" class="col-sm-4 col-form-label">RPM Speed</label>
                <div class="col-sm-8">
                  {% render_field updateform.rpm %}
                </div>
              </div>
              <div class="row mb-3">
                <label for="{{updateform.repaired_at.id_for_label}}" class="col-sm-4 col-form-label">Last repaired Date</label>
                <div class="col-sm-8">
                  {% render_field updateform.repaired_at type="date" %}
                </div>
              </div>
              <div class="row mb-3">
                <legend class="col-form-label col-sm-4 pt-0">Repaired Parts</legend>
                <div class="col-sm-8">
                  <div class="form-check">
                    {% render_field updateform.armature type="checkbox" class="form-check-input" id="armature" %}
                    <label class="form-check-label" for="armature">
                      Armature
                    </label>
                  </div>
                  <div class="form-check">
                    {% render_field updateform.brush type="checkbox" class="form-check-input" id="brush" %}
                    <label class="form-check-label" for="brush">
                      Brush
                    </label>
                  </div>
                  <div class="form-check">
                    {% render_field updateform.stator type="checkbox" class="form-check-input" id="stator" %}
                    <label class="form-check-label" for="stator">
                      Stator
                    </label>
                  </div>
                  <div class="form-check">
                    {% render_field updateform.frame type="checkbox" class="form-check-input" id="frame" %}
                    <label class="form-check-label" for="frame">
                      Frame
                    </label>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label for="{{updateform.description.id_for_label}}" class="col-sm-4 col-form-label">Info</label>
                <div class="col-sm-8">
                  {% render_field updateform.description %}
                </div>
              </div>
              <input type="submit" value="Update" class="btn btn-primary">
            </form><!-- End General Form Elements -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock block %}