<main id="main" class="main">
  {% include "./components/pagetitle.html" %}

  <section class="section contact">

    <div class="row gy-4">

      <div class="col-xl-6">

        <div class="row">
          {% for i in list %}
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-{{i.icon}}"></i>
              <h3>{{i.field}}</h3>
              <p>{{i.subject1}}<br>{{i.subject2}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

  </section>
</main>