{% load static %}
<main id="main" class="main">
  
  {% include "./components/pagetitle.html" %}

  <section class="section dashboard">
    <div class="row">

      <div class="col-lg-8"><!-- Left side columns -->
        <div id="table" class="row"><!-- Table -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Recent Sales <span>| Today</span></h5>
                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Category</th>
                      <th scope="col">ID</th>
                      <th scope="col">Description</th>
                      <th scope="col">rpm</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in product  %}
                    <tr>
                      <td>{{i.id}}</td>
                      <td>{{i.category}}</td>
                      <td>{{i.id_number}}</td>
                      <td>{{i.description}}</td>
                      <td>{{i.rpm}}</td>
                      <td><a href="{% url 'UpdateProduct' i.id %}" class="btn btn-success">Edit</a></td>
                      <td><a href="{% url 'DeleteProduct' i.id %}" class="btn btn-danger">Delete</a></td>
                    {% endfor %}
                  </tbody>
                </table>
                <a class="btn btn-primary"  href="{% url 'AddProduct' %}" >Add item</a>
              </div>
            </div>
          </div><!-- End Recent Sales -->
        </div>
      </div><!-- End Left side columns -->

      
      <div class="col-lg-4"><!-- Right side columns -->
      </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->